@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* primary theme color */
  --primary: #2563eb;        /* ฟ้านุ่ม น่าเชื่อถือ */
  --primary-soft: #dbeafe;   /* ฟ้าอ่อน friendly */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
  --background: #f1f5f9;   
  --foreground: #0f172a;   

  }
} */

:root {
  --background: #cbd5e1;  /* slate-300 */
  --foreground: #0f172a;  /* slate-900 */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
